@font-face{
  font-family: "newpeugeot";
  src:url(./assets/Peugeot_New-Regular.woff2);
  font-weight:400;
  font-style:normal;
}


@font-face{
  font-family:"newpeugeotbold";
  src:url(./assets/Peugeot_New-Bold.woff2);
  font-weight:700;
  font-style:normal;
}

.App {
  background-color: black;
  background-image: url(./assets/bp2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0px !important;
  margin: 0px auto !important;
  height: 100vh;
  max-width: 400px;
  display: flex; 
  flex-direction: column;
  min-height: 100vh;
}

.header{
  background-color: #000000;
  margin: 0px;
  padding: 10px;
}

.header img {
  width: 20%;
  margin-right: 5%;
  
}

.header .texto-header{
  font-family: "newpeugeotbold",sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}

.grid{
  background: radial-gradient(circle, rgba(0,0,0,0.4) 10%, rgba(0,0,0,0.3) 100%);
  display: flex;
  flex: 1;
  flex-direction: column;
  

}

.grid .fila{
  flex: 1;
  margin: 0px;
}
.grid .fila:nth-child(1){
  margin-top: 10%;
}

.grid .fila:nth-child(3){
  margin-bottom: 10%;
}

.grid .fila .col{
  display: flex;
  justify-content: center;
  align-items: center;

  
  

}

.card:active,.card:focus{

  opacity: 0.5;


}

a{ text-decoration: none !important;}

.card{
  background-color: transparent !important;
  border: 0px !important; 
  font-family: "newpeugeot",sans-serif;

}



.card p{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  font-family: "newpeugeot",sans-serif;
  letter-spacing: 0.05rem;
  text-shadow: 0px 0px 2px #000000 !important;
}

.card .icon{
  border-radius: 20%;
  box-shadow: 0px 1px 10px rgba(#000000, 1);
  width: 45%;
  margin: auto;
}


.footer{
  background-color: #000000;
  margin: 0px;
 
  padding: 10px 0 5px 0;
  font-family: "newpeugeotbold",sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
}